header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 4em;
    background-color: #18181A;
    position: absolute;
}

.header__title{
    font-family: 'Raleway', sans-serif;
    font-size:1.9em;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 1.3%;
    margin-left: 2%;
    position: relative;
}

.logoG{
    margin-top: .9%;
    margin-left: .7%;
    width: 2.9em;
    height: 2.9em;
}

.my__bootcamp, .my__profile{
    font-family: 'Raleway', sans-serif;
    font-size:1em;
    color: #FFFFFF;
    margin-top: 2.2%;
    margin-left: 2%;
}