.editperfil{
  font-size: 3rem;
  grid-row-start:1 ;
}
.editfoto{
    grid-row-start:3 ;
    grid-column-start:3 ;
}
.image-container{
    grid-row-start:2;
    grid-column-start:1;
}
.form1{
    width: 10rem;
    /* grid-column: 1/3;
    grid-row: 4/6; */
    display: block;
    font-size: 1.5rem;
    width: 100%;
}
.editarperfil1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* grid-template-columns: 1rem 1rem;
    grid-template-rows: 4rem .5rem 6rem 9rem 8rem; */
}
