/* Homework Feedback component styles*/


.homeworkFeedback {

    max-width: 29rem;
    min-height: 13rem;
    max-height: 13rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.625rem 0;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 .6rem 1.5rem 0 rgba(0,0,0,0.19);
    overflow-y: scroll;
  }
  
  .homeworkFeedback__title {
    margin: 0 2rem 1rem;
    font-size: 1.5rem;
  }
  
  .homeworkFeedback__list {
    font-size: 0.87rem;
    list-style-type: none;
    line-height: 200%;
    margin: 0 1rem;
  }
  