/* Homework Feedback component styles*/

.homeworkFeedback {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  max-width: 25rem;
  min-height: 10rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.625rem 0;
}

.homeworkFeedback__title {
  margin: 0 2rem;
  font-size: 1.5rem;
}

.homeworkFeedback__list {
  font-size: 0.87rem;
  list-style-type: none;
  line-height: 200%;
}
