.MainContainer {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
  padding-left: 2.75rem;
  padding-right: 3.5rem;
}

.CardContainer {
  margin-bottom: 2rem;
}

.MainContainer__left {
  padding-right: 1.59rem;
}
.MainContainer__right {
  padding-left: 3.59rem;
}

.ContainerButtons {
  display: flex;
  flex-direction: column;
}

.BottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.ListContainer {
  width: 28.5rem;
  margin-bottom: 1.8rem;
}

.DailyClass {
  width: 60rem;
}
