.dailyClassSurvey__contentTop {
  margin-bottom: 1rem;
}

.dailyClassSurvey__contentTop h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

.dailyClassSurvey__contentBottom {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.dailyClassSurvey__contentBottom img {
  cursor: pointer;
}

.voteDone {
  text-align: center;
}
