.dailyClassSurvey {
  padding: 1.6rem 2.4rem;
  max-width: 29rem;
  min-height: 13rem;
  border: 1px solid black;
  border-radius: 5px;
}

.dailyClassSurvey__contentTop {
  margin-bottom: 1rem;
}

.dailyClassSurvey__contentTop h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

.dailyClassSurvey__contentBottom {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}
