.card__container{
  width: 18rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #000000;
  padding-bottom: 1rem;
  box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 .6rem 1.5rem 0 rgba(0,0,0,0.19);
}

.img__card {
  background-color: #c4c4c4;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(90px, 17px);
}

.card__lowerContainer {
  margin-top: 1rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.name__lowerContainer {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.job__lowerContainer {
  color: #7c8089;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 1.18rem;
}

.subtitle__lowerContainer{
  color: #4b4eff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0.3rem;
}

.location__lowerContainer {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
