.Card {
  width: 18rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #000000;
  padding-bottom: 1rem;
}

.image-container img {
  background-color: #c4c4c4;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(90px, 17px);
}

.lower-container {
  margin-top: 1rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.lower-container h2 {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.lower-container h4 {
  color: #7c8089;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 1.18rem;
}

.lower-container h3 {
  color: #4b4eff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0.3rem;
}

.lower-container p {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
