/*Daily Class component styles*/

.dailyClass {
  position: relative;
  display: flex;
  justify-content: space-around;
  max-width: 63rem;
  min-height: 20rem;
  max-height: 22rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.625rem 1rem 1.625rem 1.625rem;
}

.dailyClass__title {
  font-size: 2.25rem;
}

.dailyClass__contentRigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dailyClass__topics {
  margin-top: 1.81rem;
}

.dailyClass__resources {
  margin-top: 1.375rem;
}

.dailyClass__image {
  max-width: 100%;
}

.topics__list,
.topics__title,
.resources__title,
.resources__list,
.dailyClass__trainer {
  font-size: 0.875rem;
  font-weight: 600;
}

.topics__list li {
  margin-left: 1rem;
}

.resources__list {
  list-style: none;
}

.dailyClass__trainer {
  text-align-last: right;
  margin-top: 1.25rem;
}

.dailyClass__options {
  position: absolute;
  right: 2rem;
  border: none;
  background-color: transparent;
}

.dailyClass__edit {
  position: absolute;
  right: 2rem;
  top: 4rem;
}

.dailyClass__edit {
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-weight: 600;
}

.dailyClass__edit:hover,
.dailyClass__options:hover {
  cursor: pointer;
}
