@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url(./fonts/Raleway-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: local("Raleway"), url(./fonts/Raleway-SemiBold.ttf) format("opentype");
}

:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

.App {
  /* height: auto; */
  /* width: 80vw; */
  /* width: 100vw; */
}

.myProfile {
  padding-top: 15rem;
  margin-left: 15vw;
  text-align: center;
}

.myProfile__title {
  font-size: 5rem;
  color: #bed632;
}

.myProfile__subtitle {
  font-size: 3rem;
  margin-top: 1rem;
}
