.editModal__title {
  font-size: 2.25rem;
}

.editModal__subtitle {
  font-size: 1.125rem;
  margin: 1.375rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #c4c4c4;
}

.editModal__textArea {
  resize: none;
  min-width: 100%;
  font-size: 1.125rem;
}

.editModal__selectTrainer {
  min-width: 100%;
  min-height: 3.125rem;
  font-size: 1.125rem;
}
